name: Deploy to GitHub Pages (gh-pages branch)

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Git
        run: |
          git config --local user.name "github-actions[bot]"
          git config --local user.email "41898282+github-actions[bot]@users.noreply.github.com"

      - name: Deploy to gh-pages branch
        uses: peaceiris/actions-gh-pages@v4
        with:
          publish_dir: .
          publish_branch: gh-pages
          deploy_key: ${{ secrets.DEPLOY_KEY }}
          # fallback to using the personal access token if no deploy key
          github_token: ${{ secrets.GITHUB_TOKEN }}
